
<div data-theme="b" id="L_replay_control" data-role="page" data-url="L_replay_control">

	<div data-role="panel" data-position="right" id="menu" class="bmenu">
	  <ul data-role="listview" data-inset="true" data-theme="b">
	    <li data-role="list-divider">Insight Presentation</li>
	    <li><a href="/" data-panel="main">Home</a></li>
	    <li><a href="/logout">로그아웃</a></strong></li>
	    <li><a href="/Plist">PPT목록</a></strong></li>
	    <li><a href="#my" data-panel="main">마이페이지</a></li>
	  </ul>
	</div>



	<div data-role="header">
		<a data-icon="back" data-role="button" href="/Lmenu">back</a>
		<h1 align="center">PPT 다시듣기</h1>
		<a data-transition="flip" data-icon="grid" data-role="button" href="#menu">menu</a>
	</div>
	<div data-role="content">
		<table style="width: 100%">
			
			<tbody><tr>
				<td width="100%" colspan="2">
					<div data-role="fieldcontail">
						<%=Article.recordReal%>
						<audio controls autoplay>
							<source src=<%=Article.recordReal%> type="audio/wav">
							</audio>
						</div>
					</td>
				</tr>
				
				<tr>
					<td align="center">
						<div data-type="horizontal" data-role="controlgroup">
							<a data-icon="video" data-role="button" href="#">▶</a>
							<a data-icon="delete" data-role="button" href="#">■</a> 
							<a data-icon="audio" data-role="button" href="#">소리</a>
						</div>
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="2">슬라이드보이는창
						<a data-inline="true" data-icon="action" data-role="button" id="fullscreen">전체화면</a>
					</td>
				</tr>

				<tr>
					<td width="100%" colspan="2">
						<center>
							<div data-type="horizontal" data-role="controlgroup">
								<a data-transition="flip" data-inline="true" data-icon="back" data-role="button" id="back" href="#page3">이전</a> <a data-transition="flip" data-inline="true" data-icon="forward" data-role="button" id="next" href="#">다음</a>
							</div>
						</center>
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="2">
						<div role="content" data="">
							<form action="#" method="post" id="rlist">
								<div data-role="fieldcontail">
									<label for="ptlist"></label> <select data-native-menu="true" name="ptlist" id="ptlist">
									<option value="list1">PPT1</option>
									<option value="list2">PPT2</option>
									<option value="list3">PPT3</option>
								</select>
							</div>
						</form>
					</div>
				</td>
			</tr>
		</tbody></table>
	</div>
	
	<div data-position="fixed" data-role="footer">
		<h4 class="ui-title" role="heading" aria-level="1">&copy;Insight&nbsp;presentation<img id="brain" src="brain32.png"></h4> </div>
	</div>
	

