<body onload="SetUpAudio()">

<div data-theme="b" id="L_replay_control" data-role="page" >
<meta name="viewport" content="width=device-width">
	<div data-role="panel" data-position="right" id="menu" class="bmenu">
	  <ul data-role="listview" data-inset="true" data-theme="b">
	    <li data-role="list-divider">Insight Presentation</li>
	    <li><a href="/" data-panel="main">Home</a></li>
	    <li><a href="/logout">로그아웃</a></strong></li>
	    <li><a href="/Plist">PPT목록</a></strong></li>
	    <li><a href="#my" data-panel="main">마이페이지</a></li>
	  </ul>
	</div>



	<div data-role="header">
		<a data-icon="back" data-role="button" href="/Lmenu">back</a>
		<h1 align="center">PPT 다시듣기</h1>
		<a data-transition="flip" data-icon="grid" data-role="button" href="#menu">menu</a>
	</div>
	<div data-role="content">
		<script>
			function SetUpAudio()
			{
				var reader = new FileReader();
				alert('audio set!');
		/*		var returnData = JSON.parse(document.getElementById('returnData').value);
				alert(returnData);
				alert(document.getElementById('returnData').value);
				
				 
				 reader.readAsDataURL(returnData.fileContent);
		*/
			}
			function loadFile(){

			        var audio = new Audio();
			        var returnValue = document.getElementById('returnData').value;

			        var replaceValue = returnValue.replace("\"","");
			        var replaceValue2 = replaceValue.replace("\"","");
			        var audioSrc = 'data:audio/wav;base64,' + replaceValue2;
			        var audio = new Audio();
			        audio.src = audioSrc;
			        audio.load();
			        audio.play();
			    
			}
		</script>
		<table style="width: 100%">
			<input type="hidden" alt="" id="returnData" name="returnData" value=<%= returnData %>>


			<input type='button' onclick="loadFile()">
			<tbody><tr>
				<td width="100%" colspan="2">
					<div data-role="fieldcontail">
						<%=Article.recordReal%>
						<audio controls autoplay>
							<!-- <source src=audio.src type="audio/wav"> -->
							</audio>
						</div>
					</td>
				</tr>
				
				<tr>
					<td align="center">
						<div data-type="horizontal" data-role="controlgroup">
							<a data-icon="video" data-role="button" href="#">▶</a>
							<a data-icon="delete" data-role="button" href="#">■</a> 
							<input type = "button" onclick = "SetUpAudio()"/>
						</div>
					</td>
				</tr>
				
				<tr>
					<td colspan=2 height="500px" width="50%"> 
						<!-- <iframe width="100%" height="100%" src="reveal.html"></iframe>  
					 아직 덜 합ㄹㅊ진듯 -->
					</td>
				</tr>

				<tr>
					<td width="100%" colspan="2">
						<center>
							<div data-type="horizontal" data-role="controlgroup">
								<a data-transition="flip" data-inline="true" data-icon="back" data-role="button" id="back" href="#page3">이전</a> <a data-transition="flip" data-inline="true" data-icon="forward" data-role="button" id="next" href="#">다음</a>
							</div>
						</center>
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="2">
						<div role="content" data="">
							<form action="#" method="post" id="rlist">
								<div data-role="fieldcontail">
									<label for="ptlist"></label> <select data-native-menu="true" name="ptlist" id="ptlist">
									<option value="list1">PPT1</option>
									<option value="list2">PPT2</option>
									<option value="list3">PPT3</option>
								</select>
							</div>
						</form>
					</div>
				</td>
			</tr>
		</tbody></table>
	</div>
	
	<div data-position="fixed" data-role="footer">
		<h4 class="ui-title" role="heading" aria-level="1">&copy;Pickle</h4> </div>
	</div>
	
</body>
