<head>

	

</head>
<body>



	<link type="text/css" rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>


<div data-theme="b" id="Listen_pt" data-role="page">

		<div data-role="panel" data-position="right" id="menu" class="bmenu">
		  <ul data-role="listview" data-inset="true" data-theme="b">
		    <li data-role="list-divider">Insight Presentation</li>
		    <li><a href="/" data-panel="main">Home</a></li>
		    <li><a href="/logout">로그아웃</a></strong></li>
		    <li><a href="/Plist">PPT목록</a></strong></li>
		    <li><a href="#my" data-panel="main">마이페이지</a></li>
		  </ul>
		</div>



		<div data-role="header">
			<adata-icon="back" data-role="button" href="/Lmenu">back</a>
			<h1 align="center">현재 발표 듣기</h1>
			<a data-transition="flip" data-icon="grid" data-role="button" href="#menu">menu</a>
		</div>
		<div data-role="content">
			<table style="width: 100%">
				<tbody><tr>
					<td width="100%" colspan="2">슬라이드보이는창</td>


				</tr>
				<tr>
					<td width="100%" colspan="2">
						<center>
							<div data-type="horizontal" data-role="controlgroup">
								<a data-inline="true" data-icon="back" data-role="button" id="back" href="#page3">이전</a> <a data-inline="true" data-icon="forward" data-role="button" id="next" href="#">다음</a>
							</div>

						</center>
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="2">
								<div data-role="fieldcontail">
								<form action="/Listenpt" method="post" id="commentForm" onSubmit = "alert('commented')" data-ajax="false">
									<label for="line_comment"> 한줄 코멘트 남기기 : </label><input type="text" name="comment" id="line_comment">									
									<input type="submit" value="확인" onclick = "comment_func(this)">	
								</form>
								</div>
								<div>
									<ul data-role="listview" id="commentlist">
										<% Article.forEach( function(Article){ %>
											<li> <a>comment :  <%=Article.board.message%>  user : <%=Article.board.writer%></a></li>
										<% }); %>
									</ul>
								</div>
					</td>
				</tr>
				
				
				<tr>
					<td width="100%" colspan="2">
						<div role="content" data="">
							<form action="#" method="post" id="rlist">
								<div data-role="fieldcontail">

									<label for="ptlist"></label> <select data-native-menu="true" name="ptlist" id="ptlist">

										<option value="list1">PPT1</option>

										<option value="list2">PPT2</option>

										<option value="list3">PPT3</option>

									</select>
								</div>
					</form></div></td>
				</tr>
			</tbody></table>
		</div>
        
        <div data-position="fixed" data-role="footer">
			<h4>&copy;Insight&nbsp;presentation</h4>
		</div>
        </div>

	<script>
		var comment_func = function(el){
			var form = document.forms['commentForm'];
			form.submit();
			alert("a");
		}
	</script>

</body>