<html class="ui-mobile">
<head>
<meta charset="UTF-8">
<meta content="width=device-width,maximum-scale=1, user-scalable=no" name="viewport">

<title>Insight Presentation</title>
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
     


<script type="text/javascript">
  var num = 0;
  function addItem() {

    var list1 = $("#list1").append(
        "&lt;li&gt;&lt;a href='#Plist' id='list'"+(++num)+"&gt;Item" + (num) + "&lt;/a&gt;&lt;/li&gt;");
    list1.listview("refresh");
  }
</script>

<script type="text/javascript">
  var num = 1;
  function addItem1() {

    var list2 = $("#list2").append(
        "&lt;li&gt;&lt;a href='#Llist'&gt;Item" + (++num) + "&lt;/a&gt;&lt;/li&gt;");
    list2.listview("refresh");
  }
</script>

  
   <style type="text/css">
   body{
   			font-family:"맑은 고딕";
   }
    
#a {
	height: 100%;

}

#b {
	height: 100%;

}

#c td{
	width:50%;
}

#d td{
	height: 10%;
}


table {
	width: 100%;
	height:40%;
}


#wrap1 {
	height: 40%;

}

#a1 {	
	text-align: center;
}

#b1 {

	text-align: center;
}

#c1 {
	height: 100%;
}

#c1 td{
	width: 50%;
	height :100%;
} 

#ppt_main {
	color: #000000;
	font-family:"consolas";
	font-size:"11px";
}
</style>

</head>
<body>

<div data-theme="b" id="lmenu" data-role="page">

		<div data-role="panel" data-position="right" id="menu" class="bmenu">
		  <ul data-role="listview" data-inset="true" data-theme="b">
		    <li data-role="list-divider">Insight Presentation</li>
		    <li><a href="/" data-panel="main">Home</a></li>
		    <li><a href="/logout">로그아웃</a></strong></li>
		    <li><a href="/Llist">PPT목록</a></strong></li>
		    <li><a href="#my" data-panel="main">마이페이지</a></li>
		  </ul>
		</div>



		<div data-role="header">
			<a data-icon="back" data-role="button" href="/Llist">back</a>
			<h1 align="center">Listener&nbsp;Mode</h1>
			<a data-transition="flip" data-icon="grid" data-role="button" href="#menu">menu</a>
		</div>

		<div id="wrap" data-role="content">
       	<div style="margin-top: 20px;">
			<table>
				<tbody>
					<tr id="c1">
						<td id="ppt_main" colspan='2' style="background-color:#CCCCFF" align="center" >
							<label for="ppt_explain"><br/>PPT Explain : </label>
							<div name="ppt_explain" id="ppt_explain"><%=explain%></div>
							<label for="ppt_date">PPT Date : </label>
							<div name="ppt_date" id="ppt_date"><%=date%></div>
							<label for="ppt_place">PPT Place : </label>
							<div name="ppt_place" id="ppt_place"><%=place%></div>
							<br/>
						</td>
					</tr>
				</div>
						
					<tr id="c1" style="margin-top: 20px;">
						<td><a data-transition="flip" id="a1" data-role="button" href="/Listenpt"><br><br>Go
								<br>current PPT<br><br><br>
						</a></td>
						<td><a data-transition="flip" id="a1" data-role="button" href="/L_replay_control">
							<br><br>Re-Listening
							<br>PPT<br><br><br>
						</a></td>
					</tr>
			</tbody></table>
			</div>
        </div>
        
		<div data-position="fixed" data-role="footer">
			<h4 class="ui-title" role="heading" aria-level="1">&copy;Pickle</h4> 
		</div>        
</div>

</body>