<html class="ui-mobile"><head>
<meta charset="UTF-8">
<meta content="width=device-width,maximum-scale=1, user-scalable=no" name="viewport">
<title>jQuery Mobile 웹 응용 프로그램</title>
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
 

<script type="text/javascript">
  var num = 0;
  function addItem() {

    var list1 = $("#list1").append(
        "&lt;li&gt;&lt;a href='#Plist' id='list'"+(++num)+"&gt;Item" + (num) + "&lt;/a&gt;&lt;/li&gt;");
    list1.listview("refresh");
  }
</script>

<script type="text/javascript">
  var num = 1;
  function addItem1() {

    var list2 = $("#list2").append(
        "&lt;li&gt;&lt;a href='#Llist'&gt;Item" + (++num) + "&lt;/a&gt;&lt;/li&gt;");
    list2.listview("refresh");
  }
</script>

  
   <style type="text/css">
#wrap {
  position:absolute;
  height: 97%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#a {
  height: 90%;
  text-align: center;
}

#b {
  height: 90%;
  text-align: center;
}

#c {
  height: 70%;
}

#c td{
  width:50%;
}

#d td{
  height: 10%;
}


table {
  width: 100%;
  height: 97%;
}

#wrap1 {
  position: absolute;
  height: 97%;
  top: 50;
  right: 0;
  bottom: 0;
  left: 0;
}

#a1 {
  height: 100%;
  text-align: center;
}

#b1 {
  height: 100%;
  text-align: center;
}

#c1 {
  height: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#c1 td{
  width: 50%;
  height : 50%;
}
</style>

</head>
<body class="ui-mobile-viewport ui-overlay-d">
  
<div data-theme="b" id="login" data-role="page" data-url="login">
    <div class="bmenu" id="menu" data-position="right" data-role="panel">
   <ul data-theme="d" data-inset="true" data-role="listview">
      <li data-role="list-divider">Insight Presentation </li>
      <li><a data-panel="main" href="#page">Home</a></li>
      <li><a href="#page">로그아웃</a></li>
      <li><a href="#Plist">PPT목록</a></li>
      <li><a data-panel="main" href="#my">마이페이지</a></li>
   </ul>
</div> 
   <div data-role="header">
   <a data-rel="back" data-icon="back" data-role="button" href="#">back</a>
      <h1 align="center">Login</h1>
    <a data-iconpos="right" data-icon="grid" data-role="button" href="#menu">menu</a></div>
   <div data-role="content">
    <table width="100%">
    <tbody><tr>
    <td>
      <script src="js/logins.js"></script>
      <script>
        var poll_func = function(el){
          var form = document.forms['joinForm3'];
          form.submit();

        
        }

      </script>

       <label><h1>Facebook&nbsp;Login</h1> </label>
        
         <div data-role="fieldcontain">
         </div>
         <!--label의 for와 input의 id일치-->
            <div data-role="fieldcontain">
             <a target="_self" data-role="button" class="facebook" href="fbauth">FaceBook Login</a>
         </div>
            <div data-role="fieldcontain">
               
         </div>
      
        <hr>
     </td>
     </tr>
     <tr>
     <td>
       <label><h1>Email&nbsp;Login</h1></label>
        <form action="/login" method="post" id="joinForm2" onSubmit="alert('welcome')">
         <div data-role="fieldcontain">
            <label for="name2">Name : </label>
            <input type="text" name="username" id="username">
         </div>
         <!--label의 for와 input의 id일치-->
         <div data-role="fieldcontain">
            <label for="pw2">PassWord : </label>
            <input type="password" name="password" id="password">
         </div>
            <div data-role="fieldcontain">
 <!--             <a data-transition="flip" input-type="submit" style="width: 200px" data-role="button">Login</a>    -->
              <input type = "submit" value = "Log in!!!!!!!!!!!!!!!11" onclick = "poll_func(this)"/>
         </div>
            <div id="error_message">
              로그인 후 이용가능합니다.
              회원가입 시 아이디와 비밀번호를 먼저 입력하신 후 가입버튼을 누르세요.
             </div>
          <div id="hidden_frame"></div>

      </form>
        <hr>
     </td>
     </tr>
     <tr>
     <td align="center">
        <div data-type="horizontal" data-role="controlgroup">
         <a data-transition="flip" data-icon="back" data-role="button" href="#page3">ID Find</a>
         <a data-transition="flip" data-icon="forward" data-role="button" href="#">PW Find</a>
         <a data-transition="flip" data-icon="refresh" data-role="button" href="register.html">Join</a>
      </div>
     </td>
     </tr>
     </tbody></table>
   </div>
   <div data-position="fixed" data-role="footer">
      <h4>&copy;Insight&nbsp;presentation</h4>
   </div>
</div>
</body>
</html>