

<html>
<meta charset="UTF-8">
<body>
<div data-theme="b" id="register" data-role="page" data-url="register">
		<div class="bmenu" id="menu" data-position="right" data-role="panel">
			<ul data-theme="d" data-inset="true" data-role="listview">
				<li data-role="list-divider">Insight Presentation</li>
				<li><a data-panel="main" href="#page">Home</a></li>
				<li><a href="#page">로그아웃</a></li>
				<li><a href="#Plist">PPT목록</a></li>
				<li><a data-panel="main" href="#my">마이페이지</a></li>
			</ul>
		</div>

		

		<div data-role="header">
			<a data-rel="back" data-icon="back" data-role="button" href="#">back</a>
			<h1 align="center">Join</h1>
			<a data-iconpos="right" data-icon="grid" data-role="button" href="#menu">menu</a>
		</div>
		<div data-role="content">
			<label><h1>Join&nbsp;Member</h1></label>

			<script>
				var poll_func = function(el){
					var form = document.forms['joinForm3'];
					form.submit();

				
				}

			</script>

			<form action="/register" method="post" id="joinForm3" onSubmit = "alert('submitted')" data-ajax="false">
				<div data-role="fieldcontail">
					<label for="username">ID : </label> <input type="text" name="username" id="username" required="required">
				</div>
				<div data-role="fieldcontail">
					<label for="password">PassWord : </label> <input type="password" name="password" id="password"  required="required">
				</div>
				<div data-role="fieldcontail">
					<label for="pw3Chk">PassWord Check : </label> <input type="password" name="pw3Chk_" id="pw3Chk" required="required">
				</div>
				<div data-role="fieldcontail">
					<label for="birthday">Birthday : </label> <input type="date" value="2014-02-05" id="birthday" name="birthday">
				</div>

				<div data-role="fieldcontail">
					<label for="mail">Email : </label> <input type="email" name="email" id="email" required="required">
				</div>
				<div data-role="fieldcontail">
					<label for="tel">Phone : </label> <input type="tel" name="phonenum" id="phonenum" required="required" pattern="\d{3}\-\d{4}\-\d{4}\">
				</div>

				<div data-role="fieldcontail">
					<fieldset data-type="horizontal" data-role="controlgroup">
						<label> 성별 확인 : </label><br> <label for="male"> 남 </label> <input type="radio" name="sex" id="sex"> <label for="female">
							여 </label> <input type="radio" name="sex" id="sex">
					</fieldset>
				</div>
				<br> <br>
				<div data-role="fieldcontail">
					<center>
						<a data-transition="flip" type="submit" style="width: 200px" data-role="button" onclick = "poll_func(this)">Join</a>
						<input type = "submit" value = "join!!!!" onclick = "poll_func(this)"/>
					</center>
				</div>
			</form>
		</div>
        
		<div data-position="fixed" data-role="footer">
			<h4>&copy;Insight&nbsp;presentation</h4>
		</div>
	</div>
</body>
</html>